# Pulizia e Caricamento dati
In questo file andrò a caricare il mio dataset dai file csv ,pulirlo da eventuali dati not well formed ed in seguito caricarli 
sul db,filtrando solo i dati italiani

## Import Utili

In [32]:
import pandas as pd
from pandas.io import sql
import MySQLdb
from sqlalchemy import create_engine
import json

## Definisco funzioni per caricare e pulire i dati
### Ho varie funzioni :
  - **readCsv** : leggo il csv 
  - **getCategory** : leggo solo la colonna category normalizzata visto che i record in quella colonna sono in formato json 
  - **getCreator** : leggo solo la colonna creator normalizzata visto che i record in quella colonna sono in formato json 
  - **getPhoto** : leggo solo la colonna photo normalizzata visto che i record in quella colonna sono in formato json 
  - **getLocation** : leggo solo la colonna location normalizzata visto che i record in quella colonna sono in formato json 
  - **getProfile** : leggo solo la colonna profile normalizzata visto che i record in quella colonna sono in formato json 
  - **getUrls** : leggo solo la colonna urls normalizzata visto che i record in quella colonna sono in formato json 
  - **besteffort_loads** : funzione che mi permette di caricare i json not well formed impostando valori non leggibili a null 
  - **merge** : Prendo in ingresso una DataFrame corrispondente a una colonna con i dati in formato json e la aggiungo al 
  - **filterByCountry** : Faccio un filtraggio delle righe per nazione 
  - **get** : Faccio un filtraggio delle righe per nazione 
  dataset iniziale

In [3]:
def getCategory(dataset):
    normalized_category=pd.json_normalize(dataset.category.apply(json.loads))
    normalized_category.columns=normalized_category.columns.map(lambda x: str(x) + '_category')
    return normalized_category

In [4]:
def besteffort_loads(obj):
    try:
        return json.loads(obj)
    except (TypeError, ValueError):
        return {}

In [5]:
def getCreator(dataset):
    normalized_creator=pd.json_normalize(dataset.creator.apply(besteffort_loads))
    normalized_creator.columns=normalized_creator.columns.map(lambda x: str(x) + '_creator')
    return normalized_creator

In [6]:
def getPhoto(dataset):
    normalized_Photo=pd.json_normalize(dataset.photo.apply(besteffort_loads))
    normalized_Photo.columns=normalized_Photo.columns.map(lambda x: str(x) + '_photo')
    return normalized_Photo

In [7]:
def getLocation(dataset):
    normalized_location=pd.json_normalize(dataset.location.apply(besteffort_loads))
    normalized_location.columns=normalized_location.columns.map(lambda x: str(x) + '_location')
    return normalized_location

In [8]:
def getProfile(dataset):
    normalized_profile=pd.json_normalize(dataset.profile.apply(besteffort_loads))
    normalized_profile.columns=normalized_profile.columns.map(lambda x: str(x) + '_profile')
    return normalized_profile

In [9]:
def getUrls(dataset):
    normalized_url=pd.json_normalize(dataset.urls.apply(besteffort_loads))
    normalized_url.columns=normalized_url.columns.map(lambda x: str(x) + '_url')
    return normalized_url

In [10]:
def merge(dataset,category,name):
    merged_data = pd.merge(dataset,category, left_index=True, right_index=True)
    del merged_data[name]
    return merged_data

## Pulisco il Dataset
 Utilizzando le funzioni prima definite per caricare e pulire i dati di un Dataset

In [11]:
dataset=pd.read_csv('csv\Kickstarter000.csv')
category= getCategory(dataset)
dataset= merge(dataset,category,'category')
creator= getCreator(dataset)
dataset= merge(dataset,creator,'creator')
location = getLocation(dataset)
dataset= merge(dataset,location,'location')
photo = getPhoto(dataset)
dataset= merge(dataset,photo,'photo')
profile = getProfile(dataset)
dataset= merge(dataset,profile,'profile')
urls = getUrls(dataset)
dataset= merge(dataset,urls,'urls')
dataset=dataset.loc[dataset['country'] == 'IT']
dataset = dataset.applymap(str)
dataset.head()

,backers_count,blurb,converted_pledged_amount,country,created_at,currency,currency_symbol,currency_trailing_code,current_currency,deadline,...,feature_image_attributes.image_urls.baseball_card_profile,background_image_attributes.id_profile,background_image_attributes.image_urls.default_profile,background_image_attributes.image_urls.baseball_card_profile,feature_image_attributes.id_profile,web.project_url,web.rewards_url,api.star_url,api.message_creator_url,web.message_creator_url
120,1,"Vivi una magica avventura,scopri un'oscuro pas...",1,IT,1462016360,EUR,€,False,USD,1467202823,...,https://ksr-ugc.imgix.net/assets/012/441/677/d...,nan,nan,nan,nan,https://www.kickstarter.com/projects/930040840...,https://www.kickstarter.com/projects/930040840...,nan,nan,nan
623,3,Arduino-based device that guides you into brea...,11,IT,1552300032,EUR,€,False,USD,1555012857,...,https://ksr-ugc.imgix.net/assets/024/376/496/3...,nan,nan,nan,nan,https://www.kickstarter.com/projects/inelement...,https://www.kickstarter.com/projects/inelement...,nan,nan,nan
636,10,It's the 1st web-based controller developed in...,788,IT,1487082030,EUR,€,False,USD,1490363800,...,https://ksr-ugc.imgix.net/assets/015/551/532/3...,nan,nan,nan,nan,https://www.kickstarter.com/projects/204720758...,https://www.kickstarter.com/projects/204720758...,nan,nan,nan
641,10,The top of progressive thought,893,IT,1537631407,EUR,€,False,USD,1544049583,...,https://ksr-ugc.imgix.net/assets/023/129/669/b...,nan,nan,nan,nan,https://www.kickstarter.com/projects/215182249...,https://www.kickstarter.com/projects/215182249...,nan,nan,nan
655,2,An Endless Game with a particularity: instead ...,6,IT,1538787537,EUR,€,False,USD,1543978715,...,https://ksr-ugc.imgix.net/assets/022/796/715/0...,nan,nan,nan,nan,https://www.kickstarter.com/projects/177101572...,https://www.kickstarter.com/projects/177101572...,nan,nan,nan

## Connessione al DB
Uso msql.connector , libreria ufficiale di mysql.

Ha vari metodi tra cui:
   - **.connect**: Crea una connessione col db.
   - **.cursor**: Istanzia un oggetto che può eseguire un operazione sul db(come lo statment in java).
   - **.execute**: Esegue una query sul db.

In [33]:
engine = create_engine('mysql+pymysql://root:password@localhost/kickstarter')

## Creo la tabella nel db
Creo la tabella dataset dentro il database kickstarter e imposto il campo id come chiave primaria

In [77]:
#creo la stringa con tutte le colonne e creo la tabella sul db
s=''
for c in dataset.columns:
    c=c.replace(".","_")
    if c=='web_message_creator_url':
        s=s+c+' VARCHAR(255)'
    else:
        s=s+c+' VARCHAR(255),'
db_cursor.execute("DROP TABLE IF EXISTS dataset")        
db_cursor.execute("CREATE TABLE dataset ("+s+")")
db_cursor.execute("ALTER TABLE kickstarter.dataset CHANGE COLUMN id id VARCHAR(255) NOT NULL ,ADD PRIMARY KEY (`id`)")

In [78]:
#creo la lista delle colonne per la insert into 
s=''
count=0
for c in dataset.columns:
    count=count+1
    c=c.replace(".","_")
    if c=='web_message_creator_url':
        s=s+c
    else:
        s=s+c+','
values="%s,"*(count-1)+"%s"

## Caricamento tuple del dataset italiano
In questa cella ciclo su tutti i file csv presenti, pulisco il dataset e eseguo delle insert into sul database , ignoro query non andate a buon fine ed evito di caricare la tupla(chiedere al prof)

In [31]:
for i in range (0,56):
    file='csv\Kickstarter0'
    if i<=9:
        file=file+'0'+str(i)+'.csv'
    else:
        file=file+str(i)+'.csv'
    dataset=pd.read_csv(file)
    print(file)
    category= getCategory(dataset)
    dataset= merge(dataset,category,'category')
    creator= getCreator(dataset)
    dataset= merge(dataset,creator,'creator')
    location = getLocation(dataset)
    dataset= merge(dataset,location,'location')
    photo = getPhoto(dataset)
    dataset= merge(dataset,photo,'photo')
    profile = getProfile(dataset)
    dataset= merge(dataset,profile,'profile')
    urls = getUrls(dataset)
    dataset= merge(dataset,urls,'urls')
    dataset=dataset.loc[dataset['country'] == 'IT']
    dataset = dataset.applymap(str)
    if i== 0:
        sql.to_sql(dataset,con=engine,name='L0',if_exists='replace')
    else :
        sql.to_sql(dataset,con=engine,name='L0',if_exists='append' )

csv\Kickstarter000.csv

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during bytes formatting